 <h1>Edit your answer here: </h1>
 <h2> <%= @answer.title  %>: <%=@answer.content %></h2>
 <%= render partial: 'answers/form', locals: {url: question_answer_path(@answer.question, @answer), method: :patch} %>