/** {
  border: red 1px solid;
}*/

*{
  padding: 2px;
}

.pad-20 {
  padding: 20px;
}

.header {
  background-color: black;
  color: white;
}

.quote {
  font-style: italic;
  font-weight: lighter;
}

.blk-bord {
  border-bottom: black 1px solid;
}

.error {
  color: red;
  font-style: italic;
  font-weight: lighter;
}

h1:before {
  content:url('/assets/logo.png')
}



.vote_count {
  text-align: center;
}