/** {
  border: red 1px solid;
}*/

*{
  padding: 2px;
}

.pad-20 {
  padding: 20px;
}

.header {
  background-color: black;
  color: white;
}

.quote {
  font-style: italic;
  font-weight: lighter;
}